/*-----------body--------------*/

body {
    margin: 0!important;
    padding: 0!important;
}


/*------------nav----------------*/

.primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 99;
    background-color: #264d73!important;
}


/*-------------header-------------*/

#headercontainer {
    padding-top: 10vh;
}
#headercontainer {
    display: flex;
    position: relative;
}
#headercontainer h1 {
    display: flex;
    position: absolute;
    top: 80%!important;
    left: 25%;
    font-weight: bolder;
    font-size: 3.5em;
    text-align: center;
}
#headercontainer h2 {
    display: flex;
    position: absolute;
    font-size: 3em;
    top: 10%!important;
    left: 20%;
}


.imgview {
    width: 20%;
}


/*-----------home------------*/


.btn-info {
    background-color:  #264d73!important;
}

strong {
    color: #264d73!important;
}
.news-tile .card-title {
    position: absolute;
    bottom: 15px;
    left: 40px;
}
.rgba-stylish-strong {
    background-color: rgba(62, 69, 81, .5);
}
.titlelist {
    text-align: center;
}

/*-----------footer-------------*/

hr {
    width: 60px;
    background-color: #264d73!important;
}


/*-------------written------------------*/

.containwritten {
    padding-top: 10%!important;
}
#containwritten h5 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 1%;
}
#containwritten form {
    margin-left: 60%;
    width: 800px;
    height: 600px;
}
h1 {
    color: #7f0000!important;
}


/*------------mobile responsive------------*/

@media screen and (max-width: 425px) {

    #headercontainer h1 {
        font-size: 3em;
        top: 85%!important;
        left: -1%;
    }
    #headercontainer h2 {
        font-size: 2.5em;
        top: 5%!important;
        left: -1%;
    }
    .imgview {
    width: 80%!important;
    }
    .containwritten {
        padding-top: 15vh!important;
    }
    .containwritten form {
        margin-left: 0%;
        width: 100%;
        height: auto;
    }
    nav ul {
        background-color: #7f0000;
    }
    .dropdown-item {
        color: #7f0000!important;
    }




}

